*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height:100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #000000;
}

header {
    height: 10%;
    background-color: #171717;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

#header-container {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}

nav#menu, nav#profile-info {
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul {
    list-style: none;
    display: none;
}

#logo {
    margin-left: 5%;
    height: 50%;
    width: auto;
    margin-right: 10%;
    cursor: pointer;
}

#form-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
}

#input-film {
    height: 3rem;
    width: 35rem;
    padding: 0.2rem 0.5rem;
    outline: none;
    border-radius: 5px;
    border: 3px solid #ffea00;
    margin-right: 6rem;
    font-size: 1.1em;
    color: #3e3e3e;
}

#search-icon {
    height: 2rem;
    width: auto;
    position: absolute;
    right: 42%;
    z-index: 1;
    cursor: pointer;
}

#menu-btn {
    height: 3rem;
    width: 7rem;
    margin-right: 2.5%;
}

#menu-icon {
    height: 50%;
    width: auto;
}

#favorites-btn {
    height: 3rem;
    width: 15rem;
    
}

#favorites-btn #num-count {
    background-color: #ffea00;
    height: 40%;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    border-radius: 15px;
}

#menu-btn, #favorites-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #171717;
    transition: 0.25s ease-out;
}

#menu-btn:hover, #favorites-btn:hover {
    background-color: #322d2d;
}